@section hidefooter {}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ToursList.css">
</head>

<body>
<div class="container">
    <div class="panel-exit">
        <button class="btn btn-danger btn-lg pull-right" onclick="location.href = '@Url.Action("Exit", "Admin")'">Выход</button>
        <hr/>
    </div>

    <div class="table-buttons">
        @Ajax.ActionLink("Бронирование", "ReservedList", "Admin", new AjaxOptions() { UpdateTargetId = "info" } , new { @class = "btn btn-primary btn-lg" })
        @Ajax.ActionLink("Добавление", "TestView", "Admin", new AjaxOptions() { UpdateTargetId = "info" }, new { @class = "btn btn-primary btn-lg" })
        <button class="btn btn-primary btn-lg">Проверка</button>
    </div>   
    <div id="info">
    </div>
</div>
</body>
</html>


