
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/about.css">
    <link rel="stylesheet" href="~/Content/default.css">
</head>
<body>
    <img src="~/images/logo.png" id="logo" alt="Логотип">
    <hr style="margin-top: -60px" />
</body>

