@section hidefooter {}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h1>Упс.</h1>
        <h2>Произошла ошибочка.</h2>
    </hgroup>
</body>
</html>
